<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Computação em Nuvem I
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)<br>
Aluno [Rafael Barbosa](https://www.linkedin.com/in/barbosa89/)



---

# **Tópicos**

<ol type="1">
  <li>Amazon Web Services;</li>
  <li>AWS IAM;</li>
  <li>AWS S3;</li>
  <li>AWS Athena.</li>
</ol>

---

# **Exercícios**

## 1\. Amazon Web Services

 1. Crie uma conta na [AWS](https://portal.aws.amazon.com/);
 1. Acesse a sua conta e selecione a região mais próxima da sua residência.

## 2\. AWS S3

 - Criar um *bucket*;
 - Inserir um objeto no *bucket*.

![](https://github.com/rafie-b/Profession-Data-Analyst/blob/main/M37%20imagens/s3-load-csv.png?raw=true)

## 3\. AWS Athena

 - Criar um *bucket* no AWS [S3](https://aws.amazon.com/pt/s3/) para armazenar os resultados;
 - Configurar o AWS [Athena](https://aws.amazon.com/pt/athena/) para utilizar o *bucket* criado;

 ![](https://github.com/rafie-b/Profession-Data-Analyst/blob/main/M37%20imagens/s3-bucket-config.png?raw=true)

 - Criar uma tabela (com SQL) utilizando o *bucket* da aula 3, item 3.3;

![](https://github.com/rafie-b/Profession-Data-Analyst/blob/main/M37%20imagens/athena-create-table.png?raw=true)

 - Executar uma consulta SQL.

 ![](https://github.com/rafie-b/Profession-Data-Analyst/blob/main/M37%20imagens/athena-select-all.png?raw=true)

 ![](https://github.com/rafie-b/Profession-Data-Analyst/blob/main/M37%20imagens/athena-avg-groupby-specie.png?raw=true)